.container {
    display: inline-block;
    border: solid 1px rgb(186, 186, 186);
    outline: none;
    border-radius: 4px;
    line-height: 0;
    padding: 4px;
}

.focus {
    border: solid 1px rgb(50, 50, 50);
}

@media screen and (prefers-color-scheme: dark) {
    .container {
        border: solid 1px rgb(87, 87, 87);
    }

    .focus {
        border: solid 1px #e0e0e0;
    }
}
