@font-face {
  font-family: STIX2;
  src: url(/STIX2Math.otf);
}

@font-face {
  font-family: LM-Math;
  src: url(/latinmodern-math.otf);
}

@font-face {
  font-family: Bonum-Math;
  src: url(/texgyrebonum-math.otf);
}

@font-face {
  font-family: Pagella-Math;
  src: url(/texgyrepagella-math.otf);
}

@font-face {
  font-family: Schola-Math;
  src: url(/texgyreschola-math.otf);
}

@font-face {
  font-family: Termes-Math;
  src: url(/texgyretermes-math.otf);
}

:root {
  --bg-color: #fff;
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1f1f1f;
  }
}

html,
body {
  /* overflow: hidden; */
  touch-action: none;
}
canvas {
  touch-action: none;
}
div {
  touch-action: none;
}

a {
  font-family: sans-serif;
  color: navy;
}
body {
  background-color: #fff;
  color: #1f1f1f;
}
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #1f1f1f;
    color: #e0e0e0;
  }

  a {
    color: lightskyblue;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s steps(1) infinite;
}
