.separator {
    height: 8px;
}

.container {
    display: flex;
    flex-direction: column;
}

.button {
    text-align: center;
    vertical-align: middle;
    background-color: #ccc;
    line-height: 60px;
    cursor: pointer;
    user-select: none;
    font-family: sans-serif;
    font-size: 20pt;
}

.button:hover {
    background-color: #aaa;
}
